{# index page #}
{% extends "post.njk" %}

{# setting page specific css #}
{% block pageSpecificCss %}
{% endblock %}

{# setting page specific content #}
{% block content %}
  <main>
    <div class="container">
      <div class="flex-row align-center">
        <img src="/images/caleb-nance-profile.jpg" alt="Caleb Nance" title="Caleb Nance" class="profile">
        <div>
          <h1>Hi, I'm Caleb!</h1>
          <h2>Design Technology Lead at eBay</h2>
        </div>
      </div>
      
      <div class="spacer"></div>
      
      <div class="flex-layout space-between">
        <div class="col">
          <p>Some things I've been into:</p>
          <ul>
            <li>
              <strong>React</strong> & <strong>Expo/React Native</strong>
            </li>
            <li>
              <strong>Creating Figma Plugins</strong>
            </li>
            <li>
              <strong>PHP</strong> <strong>Laravel/Lumen</strong>
            </li>
            <li>
              <strong>Accessibility</strong>
            </li>
            <li>
              <strong>Electron</strong>
            </li>
            <li>
              <strong>Next.js & Vercel</strong>
            </li>
          </ul>
        </div>
        <div class="col">
          <p>Some things I've created:</p>
          <ul>
            <li>
              <a href="https://cardup.app" class="carduptrading" target="_blank" rel="noopener">CardUp Trading</a>
              iOS App with React Native
            </li>
            <li>
              <a href="https://apps.apple.com/us/app/exif-remove/id1597151358?platform=iphone" class="exifremove" target="_blank" rel="noopener">exif remove</a>
              iOS App with React Native
            </li>
            <li>
              <a href="https://play.google.com/store/apps/details?id=com.calebnance.wordscholar" class="wordscholar" target="_blank" rel="noopener">Word Scholar</a>
              Android and <strike>iOS</strike> App with React Native
            </li>
            <li>
              <a href="https://trackscoreapp.com" class="trackscore" target="_blank" rel="noopener">trackscore</a>
              iOS and Android App with React Native
            </li>
            <li>
              <a href="https://github.com/calebnance/feather-ssg" class="feather-ssg" target="_blank" rel="noopener">feather ssg</a>
              web starter with production in mind
            </li>
            <li>
              <a href="https://learnreactnative.dev" class="learnreactnative" target="_blank" rel="noopener">Learn React Native</a>
              from example of popular apps
            </li>
          </ul>
        </div>
      </div>

      <p>I write about dev/nerd things on my <a href="https://blog.calebnance.com" class="blog" role="button" aria-label="go to my blog" target="_blank" rel="noopener">blog</a></p>

      <div class="spacer"></div>

      <p class="social">
        <a href="https://github.com/calebnance" class="github" role="button"aria-label="go to my github account" target="_blank" rel="noopener">github</a>
        <a href="https://twitter.com/calebnance" class="twitter" role="button" aria-label="go to my twitter account" target="_blank" rel="noopener">twitter</a>
        <a href="https://stackoverflow.com/users/1308719/caleb-nance" class="stackoverflow" role="button" aria-label="go to my stack overflow account" target="_blank" rel="noopener">stackoverflow</a>
        <a href="https://www.linkedin.com/in/calebnance/" class="linkedin" role="button" aria-label="go to my linkedin account">linkedin</a>
      </p>
      
      <div class="spacer-lg"></div>
    </div>
  </main>
{% endblock %}

{# setting page specific js #}
{% block pageSpecificJs %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-8445331-1', 'auto');
  ga('send', 'pageview');
</script>
{% endblock %}
