// simple sass file.. no need to break it out any further..

// variables
$mainColor: #abb2bf;
// $mainBgColor: #282c34;
// $mainBgColor: #28200f;
$mainBgColor: #1d2d3a;

$colorBlack: #000;
$colorGrey: #333;
$colorWhite: #fff;

$codepen: #fcd000;
$facebook: #3b5998;
$github: #6e54ff;
$linkedin: #0077b5;
$stackoverflow: #f48024;
$teamtreehouse: #5cc27b;
$twitter: #1da1f2;

// start styles
body {
	background-color: $mainBgColor;
	color: $mainColor;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	padding-top: 32px;
}

main {
	margin: 0 16px;
}

h1 {
	font-size: 36px;
	font-weight: 200;
	line-height: 40px;
	margin-top: 0;
}

h2 {
	font-size: 26px;
	font-weight: 200;
}

a,
a:hover {
	transition: background-color 400ms, border-color 800ms, color 400ms;
	text-decoration: none;
}

p {
	line-height: 22px;
	margin-bottom: 20px;

	&.social {
		line-height: 40px;
	}
}

a {
	border-bottom: 2px solid transparent;
	color: $colorWhite;
	margin-right: 3px;
	padding: 4px 8px;

  &.codepen {
  	background-color: $codepen;
		color: $colorGrey;

    &:hover {
			background-color: transparent;
    	border-color: $codepen;
			color: $colorWhite;
    }
  }

	&.facebook {
		background-color: $facebook;
		color: $colorWhite;

		&:hover {
			background-color: transparent;
			border-color: $facebook;
		}
	}

	&.github {
		background-color: $github;
		color: $colorWhite;

		&:hover {
			background-color: transparent;
			border-color: $github;
		}
	}

	&.linkedin {
		background-color: $linkedin;

		&:hover {
			background-color: transparent;
			border-color: $linkedin;
		}
	}

	&.twitter {
		background-color: $twitter;

		&:hover {
			background-color: transparent;
			border-color: $twitter;
		}
	}

	&.stackoverflow {
		background-color: $stackoverflow;

		&:hover {
			background-color: transparent;
			border-color: $stackoverflow;
		}
	}

	&.teamtreehouse {
		background-color: $teamtreehouse;

		&:hover {
			background-color: transparent;
			border-color: $teamtreehouse;
		}
	}
}

@media (min-width: 768px) {
	body {
		padding-top: 72px;
	}

	main {
		margin: 0 36px;
	}
}
