// simple sass file.. no need to break it out any further..

// variables
$mainColor: #abb2bf;
$mainBgColor: #1d2d3a;

$colorBlack: #000;
$colorGrey: #333;
$colorWhite: #fff;

$blog: #275d8b;
$codepen: #fcd000;
$facebook: #3b5998;
$github: #6e54ff;
$linkedin: #0077b5;
$stackoverflow: #f48024;
$teamtreehouse: #5cc27b;
$twitter: #1da1f2;

// start styles
body {
	background-color: $mainBgColor;
	color: $mainColor;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	padding-top: 32px;
}

#container {
	margin: 0 auto;
	max-width: 800px;
}

main {
	margin: 0 16px;
}

h1 {
	font-size: 36px;
	font-weight: 200;
	line-height: 40px;
	margin-top: 0;
}

h2 {
	font-size: 26px;
	font-weight: 200;
}

a,
a:hover {
	transition: background-color 400ms, border-color 800ms, color 400ms;
	text-decoration: none;
}

p {
	line-height: 30px;
	margin-bottom: 24px;

	@media (min-width: 600px) {
		line-height: 22px;
	}

	strong {
		font-weight: 400;
	}

	&.social {
		line-height: 40px;
	}
}

.spacer {
	height: 24px;
}

a {
	border-bottom: 2px solid transparent;
	color: $colorWhite;
	margin-right: 3px;
	padding: 4px 8px;

	&.blog {
		background-color: transparent;
		border-color: $blog;

    &:hover {
			background-color: $blog;
    }
  }

  &.codepen {
		background-color: transparent;
		border-color: $codepen;

    &:hover {
			background-color: $codepen;
			color: $colorGrey;
    }
  }

	&.facebook {
		background-color: transparent;
		border-color: $facebook;

		&:hover {
			background-color: $facebook;
		}
	}

	&.github {
		background-color: transparent;
		border-color: $github;

		&:hover {
			background-color: $github;
		}
	}

	&.linkedin {
		background-color: transparent;
		border-color: $linkedin;

		&:hover {
			background-color: $linkedin;
		}
	}

	&.twitter {
		background-color: transparent;
		border-color: $twitter;

		&:hover {
			background-color: $twitter;
			color: $colorBlack;
		}
	}

	&.stackoverflow {
		background-color: transparent;
		border-color: $stackoverflow;

		&:hover {
			background-color: $stackoverflow;
			color: $colorGrey;
		}
	}

	&.teamtreehouse {
		background-color: transparent;
		border-color: $teamtreehouse;

		&:hover {
			background-color: $teamtreehouse;
			color: $colorGrey;
		}
	}
}

@media (min-width: 768px) {
	body {
		padding-top: 72px;
	}

	main {
		margin: 0 36px;
	}
}
